---
layout: default
---
<article class="blog-post slide-up">
    <header class="blog-header">
        <h1 class="blog-title">{{ page.title | default: page.name }}</h1>
        <div class="blog-meta">
            {% if page.date %}
            <span class="blog-date">{{ page.date | date: "%B %-d, %Y" }}</span>
            {% endif %}
            <span class="blog-author">By Shanacoder</span>
        </div>
    </header>
    
    <div class="blog-content">
        {{ content }}
    </div>
    
    <div class="blog-footer">
        <a href="{{ site.baseurl }}/" class="back-link">&larr; Back to all blogs</a>
    </div>
</article>
