---
layout: default
---
<article class="blog-post slide-up">
    <header class="blog-header">
        <h1 class="blog-title">{{ page.title | default: page.name }}</h1>
        <div class="blog-meta">
            {% if page.date %}
            <time class="blog-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
            {% endif %}
        </div>
    </header>
    
    <div class="blog-content">
        {{ content }}
    </div>
    
    <div class="blog-footer">
        <a href="{{ site.baseurl }}/" class="back-link">&larr; Back to writing</a>
    </div>
</article>
